/* Single Product */

#productDetails {
    display: flex;
    margin-top: 20px;
  }
  
  #productDetails .product-image {
    width: 40%;
    margin-right: 50px;
  }
  
  #productDetails .product-details {
    width: 50%;
    padding-top: 30px;
  }
  
  #productDetails .product-details h4 {
    padding: 40px 0px 20px 0px;
  }
  
  #productDetails .product-details h2 {
    font-size: 26px;
  }
  
  #productDetails .product-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  
  #productDetails .product-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  #productDetails .product-details input:focus {
    outline: none;
  }
  
  #productDetails .product-details button {
    background-color: #088178;
    color: #fff;
  }
  
  #productDetails .product-details span {
    line-height: 25px;
  }
  